In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy

In [4]:
df = pd.read_csv("gs://smu-cs611-data/airbnb_data_2019.csv")
df.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19/10/18,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21/5/19,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,5/7/19,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19/11/18,0.10,1,0

Remove all rows with zero availability in the whole year, i.e., zero in the column of "availability_365".

Remove all rows with unreasonable price, i.e., the "price" is higher than $2,000 per night.

Remove all rows for long-term tenant only, i.e., "minimum_nights" is no smaller than 30 days.

Remove all rows with zero "number_of_reviews"

Explore the columns of "last_review" and "number_of_reviews". Replace the missing value of "last_review" with a default value.

A valid "host_name" is expected to contain only English letters and numeric symbols. Please use regular expression to find invalid "host_name" values and remove the rows.

Create a scatter plot over the latitude and longitude of the rooms. And check if there's any outliers out of New York City.

Check if there is replicate id in the rows